body {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.navbar-brand{
    padding: 0px;
}
.footer {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #eee;
   background-image: linear-gradient(to top, #000066 0%, #0000e6  100%);
    color:white;
  z-index: 1;
}
.align-left{
    float:left
}
.align-right{
    float: right
}
.navbar-justified{
    position:absolute;
    color: #FFFFFF;
   background-image: linear-gradient(to top, #000066 0%, #0000e6  100%);
}
.navbar-form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:40px;
}



/* Main marketing message and sign up button */
.jumbotron {
  margin-left:200px;
  text-align:justify;
  background-image: linear-gradient(to top, #f5f5f0 0%, #e0e0d1 100%);
  width: 80%;
}
.row{
    margin-left: 200px;
    width:80%;
}
.col-md-4{
    width: 50%;
     background-image: linear-gradient(to top, #f5f5f0 0%, #e0e0d1 100%);
}
.col-md-5{
    position:relative;
    left:200px;
    width: 80%;
     background-image: linear-gradient(to top, #f5f5f0 0%, #e0e0d1 100%);
}

.masthead{
    position: relative;
    left: 0px;
    width:20%;
    padding-top:3%;
}
.navbar-default {
  width:100%
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.navbar-default > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.navbar-default > .active > a,
.navbar-default > .active > a:hover,
.navbar-default > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.navbar-default > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.navbar-default > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
  .navbar-default {
    max-height: 52px;
  }
  .navbar-default > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .navbar-default > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .navbar-default > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper{
     position: relative;
    left: 0px;
    width:20%;
    padding-top:1.5%;
}
.navbar-wrapper > .container {
  padding-right: 0px;
  padding-left: 0px;
    width:100%;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.bigcontainer{
    overflow:hidden;
    position: relative;
    width:100%
    
}